saved_images/*
/views/saved_images/*
design source files/*
views/test/*
views/saved_images/image_1426198801314.jpg

views/saved_images/image_1426360125580.jpg

views/saved_images/image_1426198812066.jpg

views/saved_images/image_1426198801314.jpg
